.clients__icon {
  fill: $socials-link-color;

  transition: fill 250ms $timing-function;
}

.clients.card-set {
  @media screen and (min-width: 0px) and (max-width: 479px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms $timing-function;

  @media screen and (min-width: 480px) {
    @include card-set__item(2);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
  }

  @media screen and (min-width: 768px) {
    @include card-set__item(3);
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    @include card-set__item(6);
    width: 170px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;

    .clients__icon {
      fill: $accent-color;
    }
  }
}
