.footer {
  padding: 60px 0;

  background-color: $section-bg-color;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primary-white-color;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
