.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 700;

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}
