.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}
