.hero {
  width: 100%;
  height: 400px;
  padding: 118px 0;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__text {
  display: block;
  margin-bottom: 30px;

  color: $primary-white-color;
  font-style: normal;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin: 0 auto;
  min-width: 216px;
  min-height: 50px;
}
