.modal_form__group {
  margin-bottom: 20px;
}

.modal_form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal_form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;

  margin-bottom: 4px;

  user-select: none;
  cursor: pointer;
}

.modal_form__field {
  width: 70%;
  height: 40px;
  padding: 0 12px 0 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms $timing-function;

  &:focus {
    outline: unset;
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.modal_form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms $timing-function;
}

.modal_form__field:focus + .modal_form__icon {
  fill: $accent-color;
}

.modal_form__comments {
  width: 70%;
  box-sizing: border-box;
  resize: none;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms $timing-function;

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: $primary-text-color;

  user-select: none;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal_form__agreement {
  margin-bottom: 30px;
}

.agreement-link {
  color: $accent-color;
  text-decoration: underline;
  text-underline-offset: 3px;
}
