.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  backdrop-filter: blur(2px);

  transform: translateY(100%);
  transition: transform 250ms $timing-function;
}

.projects__item:hover .overlay {
  transform: translateY(0);
}

.overlay__text {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  text-align: left;

  color: $primary-white-color;
}
