body {
  background-color: #ffffff;
  color: #757575;

  font-family: "Roboto", Verdana, sans-serif;
  letter-spacing: 0.03em;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}

@mixin card-set__item($items) {
  flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / (#{$items}));
}

.section__title {
  margin-bottom: 30px;

  color: $title-text-color;
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
